<footer class="footer">
  {% if site.author.twitter %}
  <a class="footer item" style="margin-left: 10px;" href="https://twitter.com/{{ site.author.twitter }}">
    <i class="fab fa-twitter-square"></i>
    توئیت‌ها
  </a>
  {% endif %}

  {% if site.author.telegram %}
  <a class="footer item" style="margin-left: 10px;" href="{{ site.author.telegram }}">
    <i class="fab fa-telegram"></i>
    کانال تلگرام
  </a>
  {% endif %}

  {% if site.author.github %}
  <a class="footer item" style="margin-left: 10px;" href="https://github.com/{{ site.author.github }}">
    <i class="fab fa-github"></i>
    گیت‌هاب
  </a>
  {% endif %}

  {% if site.author.mastodon.first %}
  <a class="footer item" style="margin-left: 10px;" href="{{ site.author.mastodon.first }}">
    <i class="fab fa-mastodon"></i>
    mastodon
  </a>
  {% endif %}

  {% if site.author.mastodon.second %}
  <a class="footer item" style="margin-left: 10px;" href="{{ site.author.mastodon.second }}">
    <i class="fab fa-mastodon"></i>
    ماستودون
  </a>
  {% endif %}

  {% if site.author.lbry %}
  <a class="footer item" style="margin-left: 10px;" href="{{ site.author.lbry }}">
    <i class="fa  fa-video"></i>
    لایبرری
  </a>
  {% endif %}

  {% if site.author.pixelfed %}
  <a class="footer item" style="margin-left: 10px;" href="{{ site.author.pixelfed }}">
    <i class="fa  fa-camera"></i>
    پیکسلفد
  </a>
  {% endif %}

  {% if site.author.email %}
  <a class="footer item" style="margin-left: 10px;" href="mailto:{{ site.author.email }}">
    <i class="fa fa-envelope-open"></i>
    تماس
  </a>
  {% endif %}
  <small class="footer_copyright">
    تمام حقوق این سایت متعلق به
    <a href="https://sabzevarlug.ir" target="_blank" rel="noreferrer noopener">لاگ سبزوار</a>
    2024 می باشد و استفاده از مطالب با ذکر منبع بلامانع است
  </small>
</footer>


{% include javascripts.html %}

<style>
  a {
    text-decoration: none;
  }
</style>