<div class="navbar" style="padding: 7px 0px;" role="navigation">
  <nav class="menu">
    <input type="checkbox" id="menu-trigger" class="menu-trigger" />
    <label for="menu-trigger" style="top: 0;">
      <i class="menu-icon fa fa-bars" style="margin-top: -5px;" />
    </label>
    <a id="mode" style="margin-left: 20px; margin-top: 5px;">
      <i class="mode-sunny fa fa-moon" />
      <i class="mode-moon fa fa-sun" />
    </a>

    <div class="trigger" style="margin-top: 5px;">
      <div class="trigger-container">
        {%- assign url = page.url -%}
        {%- assign menus = site.data.menus -%}

        {%- if menus %}
        {%- for menu in menus -%}

        {%- if url == menu.url -%}
        <a class="menu-link active" href="{{ menu.url }}">
          <b>{{ menu.title }}</b>
        </a>
        {%- else -%}

        {%- if menu.external -%}
        <a class="menu-link" href="{{ menu.url }}" target="_blank" rel="noopener"><b>{{ menu.title }}</b></a>
        {%- else -%}
        <a class="menu-link" href="{{ menu.url }}">
          <b>{{ menu.title }}</b>
        </a>
        {%- endif -%}

        {%- endif -%}

        {%- endfor -%}
        {%- endif -%}
      </div>
    </div>
  </nav>
</div>