_site/
.sass-cache/
.jekyll-cache/
*/.jekyll-cache/
.jekyll-metadata
_drafts
simorq-*.gem
.sass-cache/
.bundle
.env
*~
*.log
vendor
.jekyll-metadata
env.sh
.envrc
.netlify
.direnv
.DS_Store*
.DS_Store/*