---
title: 'ارتباط با راهبران لاگ'
permalink: /about/
layout: default
excerpt: SabzevarLug
comments: false
---

<div class="container" style="margin-top: 50px;">
    <div class="row text-center">
        {%- for leader in site.data.about.leaders -%}
        <div class="col-4 p-2">
            <img class="rounded-3 mb-2 w-75" src="{{ leader.image }}" alt="{{ leader.name }}" />
            <h2>{{ leader.name }}</h2>

            {% if leader.site %}
            وبسایت : <a href="{{ leader.site }}">{{ leader.site }}</a>
            <br>
            {% endif %}

            {% if leader.github %}
            گیتهاب : <a href="{{ leader.github }}">{{ leader.github }}</a>
            <br>
            {% endif %}
            
            {% if leader.telegram %}
            تلگرام : <a href="{{ leader.telegram }}">{{ leader.telegram }}</a>
            <br>
            {% endif %}

            {% if leader.linkedin %}
            لینکدین : <a href="{{ leader.linkedin }}">{{ leader.linkedin }}</a>
            {% endif %}
        </div>
        {%- endfor -%}
    </div>
</div>